@import url("https://fonts.googleapis.com/css2?family=Jacquard+24&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400..900&family=Satisfy&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 0.8em;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

:root {
  --primary-color: #eeeeee;
  --secondary-color: #7d7d7dd4;
  --tertiary-color: #2d2d2d;
}
img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
i {
  font-size: 25px;
}
/* === completed default styling ===*/

/* === header styling === */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: var(--primary-color);
  height: 60px;

  & h2 {
    font-family: "Orbitron", sans-serif;
    font-size: 1em;
    color: var(--tertiary-color);
  }

  & .side {
    display: flex;
    justify-content: center;
    align-items: center;

    & .logout {
      display: none;
    }
  }
}

/* === completed header styling === */

/* === styling for nav === */
nav {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background: var(--primary-color);
  height: 60px;
  display: block;

  & ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & li {
      text-align: center;

      & a > i {
        color: var(--tertiary-color);
      }
    }
  }
}
/* === completed nav styling === */
.aside {
  display: none;
}
@media (min-width: 800px) {
  body {
    font-size: 1.5em;
  }
  i {
    font-size: 1.5em;
  }
  #menu {
    display: none;
  }
  .logout {
    display: block;
  }
  img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
  }
  header {
    padding: 30px;
    height: 100px;

    & h2 {
      font-size: 1.3em;
    }

    & .side {
      & .logout {
        display: block;
        margin: 10px;
        box-shadow: hsl(0, 0%, 70%) 0 0 10px;
        padding: 12px;
        text-align: center;
      }
    }
  }
  nav {
    display: none;
  }
  main {
    display: grid;
    grid-template-columns: 30% 70%;

    & .aside {
      background: var(--primary-color);
      display: block;
      border-top: 5px solid var(--tertiary-color);

      & ul > li {
        display: flex;
        gap: 0 20px;
        align-items: center;
        padding: 20px;
        text-align: center;
        margin: 20px 10px;
        background: white;
        font-family: "Orbitron", sans-seri;
      }
    }
  }
}
